

body { 
	margin: 0; 
	padding: 0; 
	font: 1em "Trebuchet MS", verdana, arial, sans-serif; 
    font-size: 100%;
	background: #333;
    
    
}

main{
    padding-bottom: 40px;
}

div.container { 
	margin: auto; 
	width: 80%; 
    background: #4EC496;
}

h1 {
	text-shadow: 0 1px 0 #eee;
	
}
ul.tabNavigation {
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}

ul.tabNavigation li {
    display: inline;
	margin: 0;
}

ul.tabNavigation li a {
    padding: 10px 10px 0 10px;
    background-color: #ddd;
    color: #000;
    text-decoration: none;
	border: 1px solid #888;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

ul.tabNavigation li a:hover {
	background-color: #eee;
    /*increase scale on hover*/
    transform: scale(20);
    /*font-size: 40px;*/
    font-weight: bold;
}	

ul.tabNavigation li a.selected {
    background-color: #FFF;
    color: #333;
	border-bottom: 1px solid #FFF;
    /*change background color when clicked*/
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
    -webkit-transition: scale 1000s ease-in 0.5s;
    -moz-transition: scale 1000s ease-in 0.5s;
    transition: scale 1000s ease-in 0.5s;
}


	
ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs > div {
	padding: 25px;
	border: 1px solid #888;
    background-color: #FFF;
	border-radius: 5px;
}

div.tabs > div h2 {
	margin-top: 0;
}

h2{
    font-size: 1.5em;
    font-weight: bold;
}

h3{
    font-size: 1em;
    /*font-weight: bold;*/
    color: #333;
}
h4{
    font-size: 1em;
    color: #4C87FF;
    font-weight: bold;
}
		
section{
    border-left: outset #333 2px;
    padding-left: 20px;
}

footer{
    border-top: outset #333 2px;
    padding-top: 5px;
}
